<div class="page-content">
    <div class="row">
        <div class="col-sm-12">
            <form name="signupForm_pd" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="education"> Education </label>
                    <div class="col-sm-3">
                        <span class="block input-icon input-icon-right">
                            <select class="form-control"><option>-Select---</option></select>
                            <span ng-show="signupForm_pd.education.$error.education" class="help-inline">mandatory</span> 
                        </span>
                    </div>
                    <label class="col-sm-3 control-label no-padding-right" for="specialization"> Specialization </label>
                    <div class="col-sm-3">
                        <span class="block input-icon input-icon-right">
                            <select class="form-control"><option>-Select---</option></select>
                            <span ng-show="signupForm_pd.specialization.$error.specialization" class="help-inline">mandatory</span> 
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="employedin"> Employed in </label>
                    <div class="col-sm-3">
                        <span class="block input-icon input-icon-right">
                            <select class="form-control"><option>-Select---</option></select>
                            <span ng-show="signupForm_pd.employedin.$error.employedin" class="help-inline">mandatory</span> 
                        </span>
                    </div>
                    <label class="col-sm-3 control-label no-padding-right" for="employer"> Name of the employer </label>
                    <div class="col-sm-3">
                        <span class="block input-icon input-icon-right">
                            <select class="form-control"><option>-Select---</option></select>
                            <span ng-show="signupForm_pd.employer.$error.employer" class="help-inline">mandatory</span> 
                        </span>
                    </div>
                    <label class="col-sm-3 control-label no-padding-right" for="annualincome"> (Annual income indian - Rs)</label>
                    <div class="col-sm-3">
                        <span class="block input-icon input-icon-right">
                            <select class="form-control"><option>-Select---</option></select>
                            <span ng-show="signupForm_pd.annualincome.$error.annualincome" class="help-inline">mandatory</span> 
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="jobname"> Job Name / Position </label>
                    <div class="col-sm-3">
                        <span class="block input-icon input-icon-right">
                            <select class="form-control"><option>-Select---</option></select>
                            <span ng-show="signupForm_pd.jobname.$error.jobname" class="help-inline">mandatory</span> 
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>