<div class="page-content">
    <div class="row">
        <div class="col-sm-12">
            <form name="signupForm_pd" class="form-horizontal" role="form">
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="profCreated"> Profile created by </label>
                        <div class="col-sm-3">
                            <span class="block input-icon input-icon-right">
                                <select><option>-Select---</option></select>
                                <span ng-show="signupForm_pd.profCreated.$error.profCreated" class="help-inline">mandatory</span> 
                            </span>
                        </div>
                        <label class="col-sm-3 control-label no-padding-right" for="height"> Height in CM </label>
                        <div class="col-sm-3">
                            <span class="block input-icon input-icon-right">
                                <select><option>-Select---</option></select>
                                <span ng-show="signupForm_pd.height.$error.height" class="help-inline">mandatory</span> 
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="physical"> Physical status </label>
                        <div class="col-sm-3">
                            <span class="block input-icon input-icon-right">
                                <select><option>-Select---</option></select>
                                <span ng-show="signupForm_pd.physical.$error.physical" class="help-inline">mandatory</span> 
                            </span>
                        </div>
                        <label class="col-sm-3 control-label no-padding-right" for="complexion"> Complexion </label>
                        <div class="col-sm-3">
                            <span class="block input-icon input-icon-right">
                                <select><option>-Select---</option></select>
                                <span ng-show="signupForm_pd.complexion.$error.complexion" class="help-inline">mandatory</span> 
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="gender"> Gender </label>
                        <div class="col-sm-3">
                            <span class="block input-icon input-icon-right">
                                <select><option>-Select---</option></select>
                                <span ng-show="signupForm_pd.gender.$error.gender" class="help-inline">mandatory</span> 
                            </span>
                        </div>
                        <label class="col-sm-3 control-label no-padding-right" for="mothertounge"> Mother tounge </label>
                        <div class="col-sm-3">
                            <span class="block input-icon input-icon-right">
                                <select><option>-Select---</option></select>
                                <span ng-show="signupForm_pd.mothertounge.$error.mothertounge" class="help-inline">mandatory</span> 
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="gender"> Date of birth </label>
                        <div class="col-sm-3">
                            <span class="block input-icon input-icon-right">
                                <select><option>-Select---</option></select>
                                <span ng-show="signupForm_pd.gender.$error.gender" class="help-inline">mandatory</span> 
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group pull-left">
                        <label class="col-sm-12 control-label no-padding-right pull-left" for="gender"> About myself </label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <span class="block input-icon input-icon-right">
                                <textarea style="width:80%; height:100px"></textarea>
                                <span ng-show="signupForm_pd.gender.$error.gender" class="help-inline">mandatory</span> 
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>